<h1>Hello PouchDB!</h1>
<input type="text" name="title" placeholder="Insert your journal's title" autofocus id="title">
<input type="text" name="text" id="text" placeholder="Start your journal here...">
<button type="submit" onclick="addJournal()">Save</button>


<ul id="journal-list">

</ul>


<div id="ractive">
  <h3>This is ractive area</h3>

</div>

<script id='template' type='text/ractive'>
  <h2>Hello, {{name}}</h2>
</script>
